doctype html
html
    head
        meta(charset="utf-8")
        title Fredrik's Site
        link(rel='stylesheet', href='/css/style.css')
    body

        p Hello

        div#example

        script(src='/js/main.js')
