.chat-container {
  height: 20rem;
  width: 30rem;

  .chat-messages-container {
    float: left;
    position: relative;
    height: calc(100% - 3em);
    width: 80%;

    .chat-messages {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-height: 100%;
      overflow-y: auto;

      .chat-info-message {
        color: gray
      }
    }
  }

  .chat-users {
    float: left;
    width: 20%;
  }

  .chat-controls {
    width: 80%;
    float: left;
    input{
      width: 100%;
    }
  }
}
