@import '~purecss/build/pure';
@import './chat';

html,
body,
#root,
#root > div,
#root > div > div {
  height: 100%
}

.main-container {
  display: flex;
  flex-flow: column;
}

.content {
  height: 100%;
  padding: 2em;
}
