@import '~purecss/build/pure';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#root,
#root > div,
#root > div > div {
  height: 100%
}

.main-container {
  display: flex;
  flex-flow: column;
}

.content {
  height: 100%;
  padding: 2rem;
}
