@import './variables';

.pure-menu {
  background-color: $menu-bg;
  .pure-menu-list {
    .pure-menu-heading {
      color: $menu-heading-text;
      &:hover,
      &:focus {
        background-color: inherit;
      }
    }
    .pure-menu-item {
      .pure-menu-link {
        color: $menu-item-text;
        &:hover,
        &:focus {
          background-color: $menu-item-hover-bg;
        }
      }
      &.pure-menu-selected {
        background-color: $menu-selected-bg;
        .pure-menu-link {
          color: $menu-selected-text;
          &:hover,
          &:focus {
            background-color: inherit;
          }
        }
      }
    }
  }
}