$blue: #1f8dd6;
$dark: #191818;
$dark-gray: #333;
$gray: #999;
$white: #fff;

$menu-bg: $dark;
$menu-heading-text: $white;
$menu-selected-text: $white;
$menu-selected-bg: $blue;
$menu-item-text: $gray;
$menu-item-hover-bg: $dark-gray;

$spinner-color: $blue;